<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site1.master.cs" Inherits="SMS_Application.Site1" %>

<%@ Register Src="~/Header.ascx" TagName="MyHead" TagPrefix="asp" %>
<%@ Register Src="~/Footer.ascx" TagName="MyFoot" TagPrefix="asp" %>



<!DOCTYPE html>

<html>
<head runat="server">
    <script src="jquery.js"></script>
    <link href="menu.css" rel="stylesheet" />
    <script src="menu.js"></script>
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <table>
                <tr>
                    <td>
                        <asp:MyHead id="h1" runat="server"></asp:MyHead>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div id="menu">
                            <ul class="menu">
                                <li><a href="Home.aspx"><span>Home</span></a></li>
                                <li><a href="BillingInProgress.aspx"><span>Billing</span></a></li>
                                <li class="last"><a href="Product.aspx"><span>Add Item</span></a></li>
                            </ul>
                        </div>

                    </td>
                </tr>

                <tr>
                    <td>
                        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                        </asp:ContentPlaceHolder>
                    </td>
                </tr>
                <tr>
                    <td>
                        <asp:MyFoot id="f1" runat="server"></asp:MyFoot>

                    </td>
                </tr>
            </table>



        </div>
    </form>
</body>
</html>
